body{
    text-align: center;
    color: crimson;
}
.container
{
    border: 1px solid #ffd;
    box-shadow: 2px 2px 10px #888888;
    margin: 0 auto;
    width: 70%;
}
.cabecera
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    font-weight: bold;
    background-color:beige;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
}
.cabecera:hover
{
    transform : scale(1.1);
}
span{
    font-size: 20px;
}